<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add campaign</title>
</head>
<body>
<h3>current balance</h3>
<br>
<form action="" method="post">
  Campaign name:<input type="text" name="name"/>
  <br>
  Keywords:<input type="text" name="keywords"/>
  <br>
  Bid amount:<input type="number" name="bid" min="100"/>
  <br>
  Campaign fund:<input type="number" name="fund"/>
  <br>
  Status:
  <select name="status">
    <option selected="selected" value="on">on</option>
    <option value="off">off</option>
  </select>
  <br>
  Town:
  <select name="town">
    <option selected="selected" value="krk">krakow</option>
    <option value="wawa">warszawa</option>
  </select>
  <br>
  Radius:<input type="number" name="radius"/>km
  <br>
  <input type="submit" value="create campaign"/>
</form>
</body>
</html>