<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add campaign</title>
</head>
<body>
<a href="/">homepage</a>
<br>
<h3>Current Balance:</h3>
<h3 th:text="${balance}"></h3>
<br>
<form action="" method="post">
  Campaign name:<input type="text" name="name"/>
  <br>
  Keywords:<input type="text" name="keywords"/>
  <br>
  Bid amount:<input type="number" name="bid" min="100"/>
  <br>
  Campaign fund:<input type="number" name="fund"/>
  <br>
  Status:
  <select name="status">
    <option th:each="status : ${statuses}"
            th:value="${status}"
            th:text="${status}"
            th:selected="${status == selectedStatus}">
    </option>
  </select>
  <br>
  Town:
  <select name="town">
    <option th:each="town : ${towns}"
            th:value="${town}"
            th:text="${town}"
            th:selected="${town == selectedTown}">
    </option>
  </select>
  <br>
  Radius:<input type="number" name="radius"/>km
  <br>
  <input type="submit" value="create campaign"/>
</form>
</body>
</html>