<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}">
<head>
  <meta charset="UTF-8">
  <title>Edit campaign</title>
</head>
<body>
<a href="/">homepage</a>
<br>
<h3>Current Balance:</h3>
<h3 th:text="${balance}"></h3>
<br>
<form action="" method="post">
  Campaign name: <input type="text" name="name" th:value="${campaign.name}"/>
  <br>
  Keywords: <input type="text" name="keywords" th:value="${campaign.keywords}"/>
  <br>
  Bid amount: <input type="number" name="bid" min="100" th:value="${campaign.bid}"/>
  <br>
  Campaign fund: <input type="number" name="fund" th:value="${campaign.fund}"/>
  <br>
  Status:
  <select name="status">
    <option th:each="status : ${statuses}"
            th:value="${status}"
            th:text="${status}"
            th:selected="${status == campaign.status}">
    </option>
  </select>
  <br>
  Town:
  <select name="town">
    <option th:each="town : ${towns}"
            th:value="${town}"
            th:text="${town}"
            th:selected="${town == campaign.town}">
    </option>
  </select>
  <br>
  Radius: <input type="number" name="radius" th:value="${campaign.radius}"/>km
  <br>
  <input type="submit" value="update campaign info"/>
</form>
</body>
</html>